In [ ]:
#Creating set
myset={1,2,3,4,5,6,7}
print(myset)
print(type(myset))

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>

In [ ]:
#Not allowing duplicate values
myset={1,2,3,4,4,5,6,7}
print(myset)
print(type(myset))

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>

In [ ]:
#Creating set
myset={True,1,1,2,3,4,5,False,0,6,7}
print(myset)
print(type(myset))
print(len(myset))

{False, True, 2, 3, 4, 5, 6, 7}
<class 'set'>
8

In [ ]:
#Accessing items in set
myset=set((True,1,1,2,3,4,5,False,0,6,7))
print(myset)

{False, True, 2, 3, 4, 5, 6, 7}

In [ ]:
#set constructor
myset=set(('apple','banana','grapes','cherry','mango'))
print(myset)

{'mango', 'cherry', 'grapes', 'banana', 'apple'}

In [ ]:
#Accessing items using for loop
myset=set(('apple','banana','grapes','cherry','mango'))
for i in myset:
  print(i)

mango
cherry
grapes
banana
apple

In [ ]:
#if function in set
myset=set(('apple','banana','grapes','cherry','mango'))
if 'orange' in myset:
  print("True")
elif "pomegranate" not in myset:
  print("False")
else:
  print("Thankyou")

False

In [ ]:
#if function in set
myset=set(('apple','banana','grapes','cherry','mango'))
if 'orange' in myset:
  print("True")
elif "mango" not in myset:
  print("False")
else:
  print("Thankyou")

Thankyou

In [ ]:
#if function in set
myset=set(('apple','banana','grapes','cherry','mango'))
if 'apple' in myset:
  print("True")
elif "pomegranate" not in myset:
  print("False")
else:
  print("Thankyou")

True

In [ ]:
#Add items in set
myset=set(('apple','banana','grapes','cherry','mango'))
myset.add("orange")
print(myset)

{'grapes', 'apple', 'banana', 'mango', 'orange', 'cherry'}

In [ ]:
#Update items using set in set
myset=set(('apple','banana','grapes','cherry','mango'))
myset1={"vanila","chocolate"}                       #we cannot add items using index value but we can add items
myset.update(myset1)
print(myset)

{'grapes', 'chocolate', 'vanila', 'apple', 'banana', 'mango', 'cherry'}

In [ ]:
#Update items using tuple in set
myset=set(('apple','banana','grapes','cherry','mango'))
myset1=("vanila","chocolate")                       #we cannot add items using index value but we can add items
myset.update(myset1)
print(myset)

{'grapes', 'chocolate', 'vanila', 'apple', 'banana', 'mango', 'cherry'}

In [ ]:
#Update items using list in set
myset=set(('apple','banana','grapes','cherry','mango'))
myset1=["vanila","chocolate"]                       #we cannot add items using index value but we can add items
myset.update(myset1)
print(myset)

{'grapes', 'chocolate', 'vanila', 'apple', 'banana', 'mango', 'cherry'}

In [ ]:
#Remove items in set
myset=set(('apple','banana','grapes','cherry','mango'))
myset.remove("banana")
print(myset)

{'grapes', 'apple', 'mango', 'cherry'}

In [ ]:
#Remove items in set
myset=set(('apple','banana','grapes','cherry','mango'))    #give error when item not in the list,tuple or set
myset.remove("pineapple")
print(myset)

KeyError: 'pineapple'

In [ ]:
#Discard as same as remove
myset=set(('apple','banana','grapes','cherry','mango'))
myset.discard("banana")
print(myset)

{'grapes', 'apple', 'mango', 'cherry'}

In [ ]:
#pop in set
myset=set(('apple','banana','grapes','cherry','mango'))
x=myset.pop()              #remove randomly
print(x)
print(myset)

grapes
{'apple', 'banana', 'mango', 'cherry'}

In [ ]:
#clear the set
myset=set(('apple','banana','grapes','cherry','mango'))
myset.clear()
print(myset)

set()

In [ ]:
#delete the set
myset=set(('apple','banana','grapes','cherry','mango'))
del myset  #empty the set

In [ ]:
#delete the set
myset=set(('apple','banana','grapes','cherry','mango'))
print(myset)     #print the set
del myset        #delete the set
print(myset)     #give error after deleting the set because no values in that set

{'grapes', 'apple', 'banana', 'mango', 'cherry'}

NameError: name 'myset' is not defined

In [ ]:
#Union of the set
set1={'a','b','c','1','2','3'}
set2={'1','2','3'}
print(set1.union(set2)) #avoid duplicate values

{'3', 'b', 'a', '2', 'c', '1'}

In [ ]:
#Union of the set
set1={'a','b','c'}
set2={'1','2','3'}
print(set1.union(set2))

{'3', 'b', 'a', 'c', '1', '2'}

In [ ]:
#Union or | of the set
set1={'a','b','c','1','2','3'}
set2={'1','2','3'}
print(set1|set2) #avoid duplicate values and cannot use list,dic or tuple when using |

{'3', 'b', 'a', '2', 'c', '1'}

In [ ]:
#Union or | of the set
set1={'a','b','c','1','2','3'}
set2={'1','2','3'}
set3={'d','e','f'}
print(set1|set2|set3) #avoid duplicate values and cannot use list,dic or tuple when using |

{'3', 'b', 'd', 'a', '2', 'f', 'e', 'c', '1'}

In [ ]:
#Union of the set
set1={'a','b','c','1','2','3'}
set2={'1','2','3'}
set3={'d','e','f'}
print(set1.union(set2,set3)) #avoid duplicate values and cannot use list,dic or tuple when using |

{'3', 'b', 'd', 'a', '2', 'f', 'e', 'c', '1'}

In [1]:
#intersection
set1={'a','b','c','1','2','3'}
set2={'1','2','3'}
set3=set1.intersection(set2)
print(set3)

{'1', '2', '3'}

In [3]:
#intersection
set1={'a','b','c','1','2','3'}
set2={'1','2','3'}
print(set1.intersection(set2))

{'1', '2', '3'}

In [6]:
#Remove unknown item
set1={'a','b','c','1','2','3'}
set2={'1','2','3'}
set3=set1 & set2
print(set3)

{'1', '2', '3'}

In [7]:
#Intersection update mtd1
set1={"apple","banana",1,"cherry"}
set2={"google",True,"apple"}
set1.intersection_update(set2)
print(set1)

{True, 'apple'}

In [8]:
#Intersection update mtd2
set1={"apple","banana",1,"cherry"}
set2={"google",True,"apple"}
set2&=set1
print(set2)

{True, 'apple'}

In [9]:
#Intersection update mtd3
set1={"apple","banana",1,"cherry"}
set2={"google",True,"apple"}
set3=set1.intersection(set2)
print(set3)

{True, 'apple'}

In [10]:
#Difference in set
set1={"apple","banana",1,"cherry"}
set2={"google",True,"apple"}
set3=set1.difference(set2)
print(set3)

{'banana', 'cherry'}

In [11]:
#Difference in set
set1={"apple","banana",1,"cherry"}
set2={"google",True,"apple"}
set3=set1-set2
print(set3)

{'banana', 'cherry'}

In [15]:
#Difference _update
set1={"apple","banana",1,"cherry"}
set2={"google",True,"apple"}
set1.difference_update(set2)
print(set1)

{'cherry', 'banana'}

In [16]:
#Set Symmetric
set1={'apple','banana','cherry'}
set2={"google",True,"apple"}
set3=set1.symmetric_difference(set2)
print(set3)

{True, 'google', 'banana', 'cherry'}

In [17]:
#Set Symmetric_difference_update
set1={'apple','banana','cherry'}
set2={"google",True,"apple"}
set1.symmetric_difference_update(set2)
print(set1)

{True, 'banana', 'google', 'cherry'}

In [18]:
#isdisjoint in set
set1={'apple','banana','cherry'}
set2={"google",True,"apple"}
set3=set1.isdisjoint(set2)
print(set3)             #if intersect

False

In [21]:
#isdisjoint in set
set1={'apple','banana','cherry'}
set2={"google",True}
set3=set1.isdisjoint(set2)
print(set3)             #if not intersect

True

In [22]:
#issubset
set1={'apple','banana','cherry'}
set2={"google",True,"apple"}
set3=set1.issubset(set2)
print(set3)             #if all items are present then true else false

False

In [23]:
#issubset
set1={'apple','banana','cherry'}
set2={'apple','banana','cherry'}
set3=set1.issubset(set2)
print(set3)             #if all items are present then true

True

In [24]:
#issuperset
set1={'apple','banana','cherry'}
set2={'mango','pineapple'}
set3=set1.issuperset(set2)
print(set3)

False

In [28]:
#issuperset
set1={'apple','banana','cherry'}
set2={'apple','banana'}
set3=set1.issuperset(set2)
print(set3)

True